/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

#particles-js{
	opacity: 0.6;
}
/* basic style definition */
/* •••••••••••••••••••••••••••••••• */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Slab', serif;
}
h1 {
  margin: 0;
  user-select: none;
  text-align: center;
  font-weight: 300;
}
p {
  font-weight: 300;
  color: #546E7A;
  user-select: none;
  text-align: center;
  margin: 0;
}
a {
  text-align: center;
  text-decoration: none;
  color: #FFF;
}

/* •••••••••••••••••••••••••••••••• */
/* Common panel style */
.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 999;
  color: #000;
  box-sizing: border-box;
  background-color: #ECEFF1;
}
/* panel content (only for animation delay after open) */
.panel-content {
  opacity: 0;
  will-change: margin-top;
  transition: all 700ms;
  transition-delay: 600ms;
  padding: 100px 200px;
  margin-top: -5%;
}
/* Panel content animation after open */
.panel:target .panel-content {
  opacity: 1;
  margin-top: 0;
}
/*  Specific "Home "panel */
/* •••••••••••••••••••••••••••••••• */
.panel#home {
  z-index: 1;
  background: radial-gradient(ellipse at center, #ffffff 0%, #cfd8dc 100%);
  /* Particle.js demo */

}
.panel#home canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
/*  Specific panel "Slice" */
/* •••••••••••••••••••••••••••••••• */

/* Sample Particle background */
/* •••••••••••••••••••••••••••••••• */
