////////Variables/////////
	 



// Colors
$background: #e7e7e7;
$white: #e7e7e7;
$primary: #23314b;
$secondary: #314c80;
$third: #a3aba3;
$fourth: #202831;
$fifth: #181c1f;




//Sizes

$margin: 0px;
$padding: 0px;
$width: 100%;
$height: 200px;


